@font-face {
    font-family: "minecraft-title";
    src: url(./resources/fonts/minecrafter-MadPixel/Minecrafter.Reg.ttf)
        format("truetype");
}
@font-face {
    font-family: "minecraft";
    src: url(./resources/fonts/Minecraft-Seven_v2.ttf) format("truetype");
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    /* how do I center one div to another one? */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* how can I get trhe background image to fit exactly so theres no scrolling */
    background: url("./resources/background-exp.png") no-repeat center center
        fixed;
    background-size: cover;
    /* resizing my html window vertically shows me more of the top part of the background
     image im using I need it to stay consistent for the placement of my divs ios there 
     any way6 to do that */
    background-position: top center;
    z-index: -2;
}
.postAnimBackground {
    height: 100vh;
    width: 100vw;
    background: url("./resources/background.png") no-repeat center center fixed;
    background-size: cover;
    background-position: top center;
    z-index: -1;
    transition: opacity 0.2s ease 1s;
}
/* I need to display a clickable red box that when clicked plays an animation
 of going down from the top middle of the screen to the middle */
.box {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    position: relative;
    top: 88px;
    left: 50%;
}
.red {
    width: 60px;
    height: 60px;
    background: red;
    position: absolute;
    z-index: 1;
}
.stripe {
    font-family: "minecraft";
    font-size: 28px;
    color: black;
    text-decoration-color: white;
    text-align: center;
    width: 60px;
    height: 25px;
    background: white;
    position: relative;
    align-self: center;
    justify-content: center;
    z-index: 2;
}
.outline {
    width: 64px;
    height: 64px;
    background: black;
    position: absolute;
    z-index: 0;
}
@keyframes move {
    0% {
        top: 88px;
    }
    5%{
        top:80px;
    }
    99% {
        top: 50%;
        diplay:flex;
    }
    100% {
        top:50%;
        display:none;
    }
}
@keyframes flashred {
    0%,
    38%,
    63%,
    88% {
        background: red;
    }
    25%,
    50%,
    75%,
    99% {
        background: white;
        opacity: 100;
    }
    100% {
        background: white;
        opacity: 0;
    }
}
@keyframes flashstripe {
    0%,
    38%,
    63%,
    88% {
        color: black;
    }
    25%,
    50%,
    75%,
    99% {
        color: white;
        opacity: 100;
    }
    100% {
        color: white;
        opacity: 0;
    }
}
@keyframes flashoutline {
    0%,
    38%,
    63%,
    88% {
        background: rgb(0, 0, 0);
    }
    25%,
    50%,
    75%,
    99% {
        background: white;
        opacity: 100;
    }
    100% {
        background: white;
        opacity: 0;
    }
}
#animate:target{
    animation: move 1s ease-in forwards;
}
#animate:target .red {
    animation: flashred 1s ease-in-out 1 forwards;
}
#animate:target .outline {
    animation: flashoutline 1s ease-in-out 1 forwards;
}
#animate:target .stripe {
    animation: flashstripe 1s ease-in-out 1 forwards;
}
#animate:target ~ .postAnimBackground {
    opacity: 0;
}
.login-box {
    position:absolute;
    top:43%;
    left:center;
    scale:0;
    border-color: rgba(182, 182, 182, 0.8);
    text-align: center;
    align-content: center;
    width: fit-content;
    height:fit-content;
    border-width: 5px;
    border-style: solid;
    font-family: "minecraft-title";
    background-color: rgba(0, 0, 0, 0.3);
}
.title {
    font-family: "minecraft-title";
    /*how would I change the size of text in html css*/
    font-size: 50px;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.login-box input {
    border-radius: 0px;
    border-width: 5px;
    border-style: solid;
    border-top-color: green;
    border-bottom-color: rgb(92, 62, 29);
    border-right-color: rgb(126, 82, 35);
    border-left-color: rgb(126, 82, 35);
    margin: 5px;
    padding: 5px;
    outline: none;
    font-family: "minecraft";
    width: 313px;
    font-size: 25px;
}
.login-box button {
    font-family: "minecraft";
    font-size: 25px;
    color: rgb(202, 202, 202);
    /*how do I give text a gradient from top to bottom in html css*/
    background: url(/resources/grass.png);
    background-size: cover;
    -webkit-background-fill-color: transparent;
    border: solid;
    border-top-color: green;
    border-bottom-color: rgb(92, 62, 29);
    border-right-color: rgb(126, 82, 35);
    border-left-color: rgb(126, 82, 35);
    width: 100px;
    height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Can you make the text go dark blue when the button is hovered */
.login-box button:hover {
    color: white;
    border-color: white;
    scale:105%;
}
.login-box a {
    display:inline-block;
    font-family: "minecraft";
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
}
@keyframes appear {
    0% {
        scale:0;
        top:43%;
    }
    50%{
        top:35%;
    }
    100% {
        scale:100%;
        top:43%;
    }
}
#animate:target ~ .login-box{
    animation: appear 0.8s ease-in-out 1s forwards;
}
.pickaxe-carrier {
    position: absolute;
    width: 150px;
    height: 150px;
    top:100px;
    left:-70px;
    transform: rotate(-45deg);
}
.pickaxe {
    position: relative;
    width: 150px;
    height: 150px;
}

.handle {
    position: absolute;
    width: 15px;
    height: 100px;
    background-color: #8B4513;
    top: 50px;
    left: 65px;
}

.head {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #238eaf;
    top: 35px;
    left: 63px;
    transform: rotate(45deg);
}

.pickL{
    content: '';
    position: absolute;
    width: 20px;
    height: 60px;
    left:90px;
    top:33px;
    background-color: #238eaf;
    transform: rotate(-45deg);
}
.pickR{
    content: '';
    position: absolute;
    width: 20px;
    height: 60px;
    left:35px;
    top:33px;
    background-color: #238eaf;
    transform: rotate(45deg);
}

.head::before {
    top: -10px;
    left: 20px;
}

.head::after {
    top: 20px;
    left: -10px;
}
