@font-face {
    font-family: 'minecraft-title';
    src: url(resources/fonts/minecrafter-MadPixel/Minecrafter.Reg.ttf) format('truetype');
}
@font-face {
    font-family: 'minecraft';
    src: url(resources/fonts/Minecraft-Seven_v2.ttf) format('truetype');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('./resources/background.png') no-repeat center center fixed;
    background-size: cover;
}
.login-box {
    text-align: center;
    align-content: center;
    width: fit-content;
    height: fit-content;
    font-family: 'minecraft-title';
    background-color: rgba(0, 0, 0, 0.3);
}
.title{
    font-family: 'minecraft-title';
    /*how would I change the size of text in html css*/
    font-size: 50px;
    color:rgb(255, 255, 255);
}
.login-box input{
    border-radius: 0px;
    border-width: 5px;
    border-style: solid;
    border-top-color: green;
    border-bottom-color: rgb(92, 62, 29);
    border-right-color: rgb(126, 82, 35);
    border-left-color: rgb(126, 82, 35);
    margin: 5px;
    padding: 5px;
    outline: none;
    font-family: 'minecraft';
    width: 313px;
    font-size: 25px;
}
.login-box button{
    font-family: 'minecraft';
    font-size: 25px;
    color:rgb(255, 255, 255);
    /*how do I give text a gradient from top to bottom in html css*/   
    background: url(/resources/grass.png);
    background-size: cover;
    -webkit-background-fill-color: transparent;
    border: solid;
    border-color:rgb(255, 255, 255);
    width: 100px;
    height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.login-box a{
    font-family: 'minecraft';
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
}